In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Ice%20Cream.csv")

In [3]:
data.head()

   Temperature  Revenue
0         24.6      535
1         26.1      626
2         27.8      661
3         20.6      488
4         11.6      317

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 7.9 KB

In [5]:
data.describe()

       Temperature      Revenue
count   500.000000   500.000000
mean     22.281600   522.058000
std       8.097597   175.410399
min       0.000000    10.000000
25%      17.175000   406.000000
50%      22.400000   530.000000
75%      27.800000   643.000000
max      45.000000  1000.000000

In [6]:
data.columns

Index(['Temperature', 'Revenue'], dtype='object')

In [7]:
y=data['Revenue']
X=data[['Temperature']]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=2529)

In [10]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((350, 1), (150, 1), (350,), (150,))

In [11]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [12]:
model.fit(X_train,y_train)

LinearRegression()

In [13]:
model.intercept_

42.444772590839705

In [14]:
model.coef_

array([21.54587147])

In [15]:
y_pred=model.predict(X_test)

In [16]:
y_pred

array([645.7291738 , 380.7149547 , 180.33835001, 247.13055157,
       415.18834905, 283.75853308, 372.09660611, 671.58421957,
       675.89339386, 684.51174245, 531.536055  , 613.41036659,
       361.32367037, 303.1498174 , 158.79247854, 473.36220203,
       611.25577945, 615.56495374, 512.14477068, 805.16862269,
       268.67642305, 441.04339482, 436.73422053, 861.18788852,
       531.536055  , 216.96633151, 725.44889825, 311.76816599,
       505.68100924, 466.89844059, 684.51174245, 960.29889729,
       550.92733933, 615.56495374, 367.78743182, 404.41541332,
       413.03376191, 662.96587098, 876.26999855, 544.46357788,
       811.63238414, 686.6663296 , 486.28972491, 322.54110172,
       637.11082521, 798.70486125, 438.88880767, 790.08651266,
       684.51174245, 497.06266065, 380.7149547 , 479.82596347,
       479.82596347, 563.85486221, 665.12045813, 453.9709177 ,
       688.82091675, 647.88376095, 391.48789043, 662.96587098,
       507.83559638, 309.61357884, 397.95165188, 199.72963434,
       387.17871614, 658.65669669, 441.04339482, 395.79706473,
       652.19293524, 841.7966042 , 581.09155939, 352.70532179,
       734.06724684, 350.55073464, 253.59431301, 449.66174341,
       637.11082521, 135.09201992, 594.01908227, 669.42963242,
       699.59385248, 598.32825656, 469.05302773, 912.89798005,
       697.43926533, 835.33284275, 527.22688071, 902.12504432,
       352.70532179, 423.80669764, 591.86449512, 656.50210954,
       548.77275218, 188.9566986 , 641.41999951, 641.41999951,
       572.4732108 , 486.28972491, 469.05302773, 632.80165092,
       512.14477068, 292.37688166, 729.75807254, 477.67137632,
        63.99064406, 395.79706473, 591.86449512, 469.05302773,
       568.1640365 , 602.63743086, 736.22183398, 492.75348635,
       337.62321175, 656.50210954, 423.80669764, 313.92275314,
       458.280092  , 419.49752335, 456.12550485, 559.54568791,
       522.91770641, 206.19339578, 742.68559543, 673.73880672,
       367.78743182, 690.97550389, 712.52137536, 520.76311927,
       309.61357884, 626.33788948, 803.01403555, 576.78238509,
       738.37642113, 645.7291738 , 453.9709177 , 578.93697224,
       566.00944936, 589.70990798, 447.50715626, 434.57963338,
       555.23651362, 509.99018353, 641.41999951, 475.51678917,
       441.04339482, 703.90302678, 410.87917476, 462.58926629,
       410.87917476, 305.30440455])

In [18]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [19]:
mean_absolute_error(y_test,y_pred)

19.138687444270737

In [20]:
mean_absolute_percentage_error(y_test,y_pred)

0.042214848219420134

In [21]:
mean_squared_error(y_test,y_pred)

583.7362763558341